* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root {
    font-size: 62,5%;
}

body {
    font-size: 1.6rem;
    background: #f8fafc;
}

header {
    background: #FFFFFF
    
}

nav,
ul,
li {
    color: #94a3b8;
    padding: .5rem;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    gap: 7.2rem;
}

ul, li:hover {
 font-weight: 600;
 color: #64748b;
}

li, span {
    color: #475569;
}

a {
    text-decoration: none;
    color: #64748b;
}

.logo {
    background: #f8fafc;
    display: flex;
    justify-content: center;
    filter: blur();
}

.input label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input input {
    width: 100%;

    background-color: #f8fafc;
    font-weight: 400;
    padding: 1.0rem;
    border: 0;
    border-radius: .4rem;
    font-size: 1.2rem;
}


.input input::placeholder {
    opacity: 0.56;
    color: #334155;
}